<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title></title>

  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
  <style>
  </style>
</head>
<body>
<div class="panel panel-primary">
  <!-- Default panel contents -->
  <div class="panel-heading">Pocket Items</div>
  <div class="panel-body">
    <p>A list of the 5 most recent items from your Pocket. Click on the title to embed it into the Rich Content Editor.</p>
  </div>

  <!-- List group -->
  <ul class="list-group">
    <% @results.each do |l| %>
        <a href="<%= l[:return_url] %>" class="list-group-item">
          <%= l[:title] %>
        </a>
    <% end %>
  </ul>
 </div>
</body>

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
  <script>
  </script>